@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
:root{
    --bg-color: B8001F
    --primary-color: 181C14
    --secundary-color: 821131
    --font:
}